/* different page section backgrounds from Figma */
@layer utilities {
  .section-mild-contrast {
    background: url(/img/global/innerbottombg.svg) 0 100%/23% no-repeat ,url(/img/global/innertopbg.svg) 100% 0/23% no-repeat;
    @apply bg-sand border-b border-t;
  }
  .dark-section-mild-contrast{
    background: url(/img/global/innerbottombg.svg) 0 100%/23% no-repeat ,url(/img/global/innertopbg.svg) 100% 0/23% no-repeat;
    @apply bg-mild_blue border-b border-t;
  }
  .dark-section-strong-contrast {
    background: linear-gradient(181deg, #10162D, #1d1d1b);
    @apply border-none;
  }

  .dark-blue-section-mild-contrast {
    background: url(/img/global/innerbottombg.svg) 0 100%/23% no-repeat ,url(/img/global/innertopbg.svg) 100% 0/23% no-repeat, linear-gradient(273deg, rgba(14, 25, 62, 0.90) -0.63%, #10162D 98.13%);;
  }

  .pkg-section-mild-contrast {
    background: url(/img/global/innerbottombg.svg) 0 100%/23% no-repeat ,url(/img/global/innertopbg.svg) 100% 0/23% no-repeat
    @apply bg-sand border-b border-t;
  }

  .dark-no-mild-contrast {
    background: none;
    @apply border-none;
  }

  .section-blue-gradient {
    background: linear-gradient(45deg, #010105, #10162D);
    @apply border-none;
  }

  .dark-section-blue-gradient {
    background: linear-gradient(45deg,#010105,#10162d);
    @apply border-none;
  }

  .section-sand-gradient {
    background: radial-gradient(#ffff, #ffe2d5);
  }

  .bg-home-hero {
    background-image: url("/img/home/home-background.svg"), radial-gradient(#ffff, #ffe2d5);
    background-size: cover;
  }
  
  .bg-dark-home-hero {
    background-image: url("/img/home/home-dark-background.svg"), linear-gradient(45deg,#010105,#10162d);
    background-size: cover;
  }
  
  .bg-code_window{
    background: linear-gradient(0deg, #fdf6f2, #fff6f3, #fff5f3, #fcf1f0, #faf7f7);
  }

  .bg-dark-code_window{
    background: linear-gradient(177deg, #0d0d0d, #141721);
  }
  
  .intro-section-simple {
    background: url(/img/global/innerbottombg.svg) 0 100%/23% no-repeat ,url(/img/global/innertopbg.svg) 100% 0/23% no-repeat;
    @apply pt-16 pb-16 bg-sand;
  }

  .dark-intro-section-simple {
    background: linear-gradient(45deg, #010105, #10162D);
  }

  .dark-section-navigation {
    background: none;
    @apply pt-16 pb-16 bg-dark-background_navigation;
  }
 .deep-blue-gradient {
  background: linear-gradient(45deg, #010105, #10162D);
  @apply border-none;
 }

 .dark-deep-blue-gradient {
  background: linear-gradient(45deg,#010105, #10162D);
  @apply border-none;
  }

  @media (min-width:40em){
    .bg-home-hero, .bg-dark-home-hero {
      background-position: 60% 100%;
    }
  }
}