h1 {
  @apply text-4xl lg:text-5xl;
  line-height: 110%;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  line-height: 110%;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 40px;
  }
}

h3 {
  font-size: 28px;
  line-height: 110%;
}

@media (min-width: 1024px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-size: 18px;
  line-height: 110%;
}

@media (min-width: 1024px) {
  h4 {
    font-size: 18px;
  }
}

h5 {
  @apply text-2xl leading-tight;
}

h6 {
  @apply text-xl leading-tight;
}

code,kbd,pre,samp {
    font-family: 'Source Code Pro', monospace;
    font-feature-settings: "dlig" 1 /* Rocq ligatures */, "COQX" 1 /* Coq ligatures */, "XV00" 1 /* Legacy */, "calt" 1 /* Fallback */;
}
